1757 编写解决方案找出既是低脂又是可回收的产品编号

In [2]:
import pandas as pd

In [2]:
data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype({'product_id':'int64', 'low_fats':'category', 'recyclable':'category'})


def get_product_info(products: pd.DataFrame, product_id: int)-> pd.DataFrame:
    product = products.loc[products['low_fats'] == 'Y'].loc[products['recyclable'] == 'Y']
    return product[[
        'product_id'
    ]]

183 找出从不订购的客户

In [3]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [12]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    all_orders = pd.merge(customers, orders, left_on='id', right_on='customerId', how='outer')
    # return all_orders.loc[all_orders['customerId'].isnull()][['name']]
    # 列名换成Customers，其它不变
    return all_orders.loc[all_orders['customerId'].isnull()][['name']].rename(columns={'name':'Customers'})

In [13]:
find_customers(customers, orders)

  Customers
1     Henry
3       Max

1148 查询所有浏览过自己文章的作者

In [14]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

In [19]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    # 去重
    return views.loc[views['author_id'] == views['viewer_id']][['author_id']].sort_values(by='author_id').rename(columns={'author_id':'id'}).drop_duplicates()

In [20]:
article_views(views)

   id
5   4
2   7

1683 无效的推文
查询所有无效推文的编号（ID）。当推文内容中的字符数严格大于 15 时，该推文是无效的

In [21]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [24]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    # return tweets.loc[len(tweets['content']) > 15][['tweet_id']]
    return tweets.loc[tweets['content'].str.len() > 15][['tweet_id']]

In [25]:
invalid_tweets(tweets)

   tweet_id
1         2

编写解决方案，计算每个雇员的奖金。如果一个雇员的 id 是 奇数 并且他的名字不是以 'M' 开头，那么他的奖金是他工资的 100% ，否则奖金为 0 。

In [26]:
data = [[2, 'Meir', 3000], [3, 'Michael', 3800], [7, 'Addilyn', 7400], [8, 'Juan', 6100], [9, 'Kannon', 7700]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})

In [29]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    # 如果一个雇员的 id 是 奇数 并且他的名字不是以 'M' 开头，那么他的奖金是他工资的 100% ，否则奖金为 0 。
    employees['bonus'] = employees.apply(lambda x: x['salary'] if x['employee_id'] % 2 == 1 and x['name'][0] != 'M' else 0, axis=1)
    return employees[['employee_id', 'bonus']].sort_values(by='employee_id')

In [30]:
calculate_special_bonus(employees)

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700

编写解决方案，修复名字，使得只有第一个字符是大写的，其余都是小写的。

返回按 user_id 排序的结果表

In [3]:
data = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

In [4]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].apply(lambda x: x[0].upper() + x[1:].lower())
    return users.sort_values(by='user_id')

In [5]:
fix_names(users)

   user_id   name
0        1  Alice
1        2    Bob

编写一个解决方案，以查找具有有效电子邮件的用户。

一个有效的电子邮件具有前缀名称和域，其中：

 前缀 名称是一个字符串，可以包含字母（大写或小写），数字，下划线 '_' ，点 '.' 和/或破折号 '-' 。前缀名称 必须 以字母开头。
域 为 '@leetcode.com' 。
以任何顺序返回结果表。

In [6]:
data = [[1, 'Winston', 'winston@leetcode.com'], [2, 'Jonathan', 'jonathanisgreat'], [3, 'Annabelle', 'bella-@leetcode.com'], [4, 'Sally', 'sally.come@leetcode.com'], [5, 'Marwan', 'quarz#2020@leetcode.com'], [6, 'David', 'david69@gmail.com'], [7, 'Shapiro', '.shapo@leetcode.com']]
users = pd.DataFrame(data, columns=['user_id', 'name', 'mail']).astype({'user_id':'int64', 'name':'object', 'mail':'object'})

In [2]:
import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    # 前缀名称 必须 以字母开头。域 为 '@leetcode.com
    return users.loc[users['mail'].str.match(r'[a-zA-Z][a-zA-Z0-9._-]*@leetcode\.com')]

In [13]:
valid_emails(users)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

查询患有 I 类糖尿病的患者 ID （patient_id）、患者姓名（patient_name）以及其患有的所有疾病代码（conditions）。I 类糖尿病的代码总是包含前缀 DIAB1 。

按 任意顺序 返回结果表。

In [3]:
data = [[1, 'Daniel', 'YFEV COUGH'], [2, 'Alice', ''], [3, 'Bob', 'DIAB100 MYOP'], [4, 'George', 'ACNE DIAB100'], [5, 'Alain', 'DIAB201']]
patients = pd.DataFrame(data, columns=['patient_id', 'patient_name', 'conditions']).astype({'patient_id':'int64', 'patient_name':'object', 'conditions':'object'})

In [6]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    return patients.loc[patients['conditions'].str.match(r'.*DIAB100.*')]

In [7]:
find_patients(patients)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

查询 Employee 表中第 n 高的工资。如果没有第 n 个最高工资，查询结果应该为 null

In [12]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['Id', 'salary']).astype({'Id':'Int64', 'salary':'Int64'})

In [10]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    employee = employee.sort_values(by='salary', ascending=False)
    empty = pd.DataFrame(["null"], columns=['getNthHighestSalary(%d)' % N])
    if N > len(employee):
        return empty
    return employee.iloc[N-1:N][['salary']].rename(columns={'salary':'getNthHighestSalary(%d)' % N})

In [11]:
nth_highest_salary(employee, 2)

   Id  Salary
1   2     200

在 SQL 中，id是此表的主键。
departmentId 是 Department 表中 id 的外键（在 Pandas 中称为 join key）。
此表的每一行都表示员工的 id、姓名和工资。它还包含他们所在部门的 id。

In [13]:
data = [[1, 'Joe', 70000, 1], [2, 'Jim', 90000, 1], [3, 'Henry', 80000, 2], [4, 'Sam', 60000, 2], [5, 'Max', 90000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

In [31]:
import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    all_data = pd.merge(employee, department, left_on='departmentId', right_on='id', how='outer')
    all_data = all_data.groupby('name_y').apply(lambda x: x[x['salary'] == x['salary'].max()])[['name_y', 'name_x', 'salary']]
    return all_data.rename(columns={'name_y':'Department', 'name_x':'Employee', 'salary':'Salary'}).sort_values(by='Department')

In [32]:
department_highest_salary(employee, department)

         Department Employee  Salary
name_y
IT     1         IT      Jim   90000
       2         IT      Max   90000
Sales  3      Sales    Henry   80000

查询并对分数进行排序。排名按以下规则计算:

分数应按从高到低排列。
如果两个分数相等，那么两个分数的排名应该相同。
在排名相同的分数后，排名数应该是下一个连续的整数。换句话说，排名之间不应该有空缺的数字。
按 score 降序返回结果表。

In [33]:
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})

In [36]:
import pandas as pd

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    score = scores['score'].to_list()
    score.sort(reverse=True)
    rank = [1] * len(score)
    t = 2
    for i in range(1, len(score)):
        if score[i] == score[i-1]:
            rank[i] = rank[i-1]
        else:
            rank[i] = t
            t += 1
    scores.sort_values(by='score', ascending=False, inplace=True)
    scores['rank'] = rank
    return scores[['score', 'rank']]

In [37]:
order_scores(scores)

   score  rank
2    4.0     1
4    4.0     1
3   3.85     2
1   3.65     3
5   3.65     3
0    3.5     4

编写解决方案 删除 所有重复的电子邮件，只保留一个具有最小 id 的唯一电子邮件。


（对于 Pandas 用户，请注意你应该直接修改 Person 表。）

运行脚本后，显示的答案是 Person 表。驱动程序将首先编译并运行您的代码片段，然后再显示 Person 表。Person 表的最终顺序 无关紧要 。

In [2]:
import pandas as pd

data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [ ]:
import pandas as pd

def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.drop_duplicates(subset='email', keep='first', inplace=True)

请你重构 Products 表，查询每个产品在不同商店的价格，使得输出的格式变为(product_id, store, price) 。如果这一产品在商店里没有出售，则不输出这一行。

输出结果表中的 顺序不作要求

In [5]:
data = [[0, 95, 100, 105], [1, 70, None, 80]]
products = pd.DataFrame(data, columns=['product_id', 'store1', 'store2', 'store3']).astype({'product_id':'Int64', 'store1':'Int64', 'store2':'Int64', 'store3':'Int64'})
products

   product_id  store1  store2  store3
0           0      95     100     105
1           1      70    <NA>      80

In [6]:
import pandas as pd

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    return products.melt(id_vars='product_id', value_vars=['store1', 'store2', 'store3'], var_name='store', value_name='price').dropna().sort_values(by='product_id')

In [7]:
rearrange_products_table(products)

   product_id   store  price
0           0  store1     95
2           0  store2    100
4           0  store3    105
1           1  store1     70
5           1  store3     80